<div class="container mt-5">

  <h2 class="mb-4">Login to ServiceDesk</h2>
  <div class="form-group">
    <label for="username">Username:</label>
    <input
      class="form-control w-25"
      type="text"
      id="username"
      [(ngModel)]="username"
      placeholder="Enter username"
    >
  </div>

  <div class="form-group">
    <label for="password">Password:</label>
    <input
      class="form-control w-25"
      type="password"
      id="password"
      [(ngModel)]="password"
      placeholder="Enter password"
    >
  </div>

  <button class="btn btn-primary mt-2" (click)="onLogin()">Login</button>
</div>
